.booking > td{
    padding-block: 18px;
    padding-inline: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

.bookingimage{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.namedata{
    font-family: 'Alegreya Sans';
    font-weight: 700;
    font-size: 15px;
    color: #242E42;

    display: flex;
    align-items: center;
}
.datedata{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;

    letter-spacing: -0.5px;
    text-transform: uppercase;
}
.packagedetailsdata{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;

    color: #242E42;
}
.paymentmodedata{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;

    color: #FFFFFF;
}
.paymentmodedata > div{
    width: fit-content;
    border-radius: 10px;
    padding-inline: 5px;
}
.paymentmodedata.offline > div{
    background: #FFCA28;
}
.paymentmodedata.online > div{
    background: #35DBA2;
}